<div class="awesome-content">
  <div class="content">
    <h1>About</h1>
    <hr>
    <p>
      Hello there, I'm Jonathan Serra, you can call me Slals on the Internet. I was born and grew up in France, but most importantly I'm an earthling.
      I create stuff that I like, I admire people who are lifelong creators. That's why computers are huge part of my life. This powerful tool is
      like a cheap laboratory where you can create, experiment and make things get real. I didn't create Frankenstein nor HAL9000 yet, it's only
      a matter of time and commitment from now.
    </p>
    <p>
      I'm currently working on a project called Wooble which I believe will change the Web in a good way. As I'm alone right now, I would like to hear from you, reader,
      if you're interested in the Web and related technologies, ping me at <u>jonathan@wooble.io</u>. You can know more by clicking the button «pr» in the left bottom corner.
    </p>
    <p>
      Cheers,
    </p>
    <p>
      Slals
    </p>
  </div>
</div>
