<div class="awesome-content">
  <div class="content">
    <h1>ve</h1>
    <hr>
    <ul>
      <li>Web design and UX, you're seeing one of a thing I made right now</li>
      <li><a href="https://golang.org/" target="_blank">Golang</a></li>
      <li>JavaScript</li>
      <li><a href="http://noforms.deviantart.com/gallery/" target="_blank" >Catching scenes and making it look great</a></li>
      <li>Browsing <a href="https://news.ycombinator.com/" target="_blank">Hacker news</a>, <a href="https://www.quora.com/" target="_blank">Quora</a>,
        <a href="https://techcrunch.com/" target="_blank">Tech crunch</a>, <a href="http://xkcd.com/" target="_blank">xkcd</a> and <a href="http://codepen.io" target="_blank">Codepenio</a></li>
      <li>Listening to <a href="https://www.youtube.com/watch?v=RVcJAyq0F2Q&index=2&list=FLF3ouXqAtacZFC8IGUQIUJA" target="_blank">music</a></li>
      <li>Working out, skating and running</li>
    </ul>
  </div>
</div>
