h1, p {
  animation-duration: 1s;
}
h1, hr {
  animation-name: header-pop;
  animation-duration: 1s;
  padding-left: 100px;
}
hr {
  margin-top: 40px;
}

@keyframes header-pop {
  from {
    transform: translate(-50px, 0);
    opacity: 0;
  },
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    padding-left: 45px;
  }
  hr {
    margin-top: 20px;
  }
}
