<div class="awesome-content">
  <div class="content">
    <h1>oject</h1>
    <hr>
    <p>
      Wooble is an infrastructure and a tool that allows you to share your web components and to deliver it to clients across the world with ease.
    </p>
    <p>
      Imagine you want to create an awesome website, yet unique. You have 2 choices :
    </p>
    <ul>
      <li>Make it yourself from scratch,</li>
      <li>Picking a free or paid template.</li>
    </ul>
    <p>
      Your first choice would allow you to make something huge, but you have to have knowledge, time and experience.
      Your second choice allow you to create a website, although, it is likely to look like other websites on the Internet.
    </p>
    <p>
      Here comes Wooble. Wooble is an infrastrure and a web tool with which you can pick web design pieces such as buttons, spinners, animated backgrounds, a navbar, etc.,
      assemble it and custom it as you wish. At the end, with your incredible creative approach you managed to build a unique and good looking website.
    </p>
    <p>
      <a href="http://blog.slals.io/category/wooble-project/" target="_blank">Read more...</a>
    </p>
  </div>
</div>
