<div id="square-nav" class="row">
  <div class="line-block" [class.initial]="!isActive(['About', 'Blog', 'Project', 'Interests'])">
    <a [routerLink]="isActive(['About']) ? ['Home'] : ['About']"><div class="block block-tl about" [class.active]="isActive(['About'])"><h1>me</h1></div></a>
    <a [routerLink]="isActive(['Blog']) ? ['Home'] : ['Blog']"><div class="block block-tr blog" [class.active]="isActive(['Blog'])"><h1>bl</h1></div></a>
    <a [routerLink]="isActive(['Project']) ? ['Home'] : ['Project']"><div class="block block-bl project" [class.active]="isActive(['Project'])"><h1>pr</h1></div></a>
    <a [routerLink]="isActive(['Interests']) ? ['Home'] : ['Interests']"><div class="block block-br interests" [class.active]="isActive(['Interests'])"><h1>in</h1></div></a>
  </div>
</div>
