@import "../style/_variables";

main {
  width: 100%;
  height: 100%;
  .container {
    height: 100%;
    position: relative;
    padding: $pad;
    footer {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .row {
    margin: 0;
  }
}
